
@{
    ViewBag.Title = "Add";
    ViewBag.Title = "List";
    Layout = "~/Areas/Member/Views/Shared/denemeprofillayoutpage.cshtml";
}

@model List<LittleBird.Model.Option.Tweet>

<script src="~/Content/js/dataTables.bootstrap.min.js"></script>
<script src="~/Content/js/jquery.dataTables.min.js"></script>
<link href="~/Content/css/dataTables.bootstrap.min.css" rel="stylesheet" />


@foreach (var item in Model)
{
    <section class="content">

        <div class="row">

            <div class="col-md-8">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class=""><a href="#@item.ID" data-toggle="tab" aria-expanded="true">Show</a></li>

                    </ul>


                    <div class="tab-content">
                        <div class="tab-pane" id="@item.ID">
                            <!-- Post -->
                            <div class="post">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="@Session["ImagePath"]" alt="user image">
                                    <span class="username">
                                        <a href="#"> @item.AppUser.UserName</a>
                                        <a href="/Member/Tweet/Delete/@item.ID" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                                    </span>
                                    <span class="description">@item.PublishDate</span>


                                    @if (item.ImagePath == "/Content/Uploads/UserImage/CruptedImages/kaan.png")
                                    {
                                        <img src="" style="display:block" width="1" height="1" />

                                    }
                                    else
                                    {
                                        <img src="@item.ImagePath" style="display:block" width="75" height="75" />

                                    }

                                </div>
                                <!-- /.user-block -->



                                @item.TweetContent


                                <ul class="list-inline">
                                    <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                                    <li>
                                        <a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a>
                                    </li>
                                    <li>
                                        <a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i>ReTweet</a>
                                    </li>
                                    <li class="pull-right">
                                        <a href="#" class="link-black text-sm">
                                            <i class="fa fa-comments-o margin-r-5"></i> Comments
                                            (5)
                                        </a>
                                    </li>
                                </ul>

                                <input class="form-control input-sm" type="text" placeholder="Type a comment">
                            </div>
                            <!-- /.post -->
                            <!-- Post -->
                            <!-- /.post -->
                            <!-- Post -->
                            <!-- /.post -->
                        </div>
                        <!-- /.tab-pane -->
                        <!-- /.tab-pane -->

                        <div class="tab-pane" id="settings">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputName" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputName" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputExperience" class="col-sm-2 control-label">Experience</label>

                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputSkills" class="col-sm-2 control-label">Skills</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-danger">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.tab-pane -->
                    </div>




                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>


            <!-- /.col -->
        </div>


        <!-- /.row -->

    </section>

}

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Tweet</h3>
                </div>

                <!-- /.box-header -->
                <!-- form start -->
                <a href="~/Areas/Member/Views/Tweet/Add.cshtml"></a>
                <form action="/Member/Tweet/Add" method="post" role="form" enctype="multipart/form-data">
                    <div class="box-body">

                        <div class="form-group">
                            <label for="TweetContent">TweetContent</label>
                            <input type="text" name="TweetContent" class="form-control" placeholder="TweetContent">
                        </div>


                        <div class="form-group">
                            <label for="Image">Image</label>
                            <input type="file" name="Image" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>





<script>



    $(function () {

        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
        $('#activity').add({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>
